/* CSS styles not changed */

@import url(https://fonts.googleapis.com/css?family=Dancing+Script:400,700);
* {
    box-sizing: border-box;
}

h1,
p {
    margin: 0;
    padding: 0;
}

body {
    font-family: monospace, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #271503;
}

.container {
    margin: 20px auto;
    padding: 0 20px;
}

nav {
    background-color: #271503;
    padding: 10px 0;
}

.logo {
    background-image: linear-gradient(to right, red, yellow);
    -webkit-background-clip: text;
    color: transparent;
    /* Hide the original text */
    font-size: 36px;
    font-weight: bolder;
}

h1 {
    font-size: 2rem;
    font-family: 'Dancing Script';
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 24px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

#footer {
    background-color: #271503;
    bottom: 0;
    position: relative;
    width: 100%;
}

#footer .footer-container {
    display: flex;
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .social-icon {
    display: flex;
    margin-bottom: 6px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

.address p {
    color: rgb(151, 146, 146);
    font-size: 1.1rem;
    margin: 3px;
}

.copy-right {
    color: rgb(96, 90, 90);
    font-size: 1rem;
}


/* Hero Section */

#order-now {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#order-now:hover {
    background-color: #fff;
}

#order-now:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    #order-now {
        min-width: 120px;
        padding: 0 25px;
    }
}


/* Main Content */

h2 {
    text-align: center;
    font-size: 30px;
}

.product_container {
    text-align: center;
    margin-top: 50px;
    /* Add space between Hero and Specialties */
}

.specialties {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.product-card {
    flex: 0 0 calc(40% - 20px);
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    /* Add transition effect */
}

.product-card:hover {
    transform: translateY(-5px);
    /* Add hover effect */
}

.product-card img {
    width: 100%;
    /* Make image fill its container */
    border-radius: 16px;
    /* Adjust border radius */
    align-items: center;
    text-align: center;
    padding: 10px;
}

.description {
    padding: 20px;
}

.description h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.description p {
    font-size: 18px;
    color: #666;
    /* Adjust text color */
}


/* Testimonials Section */

.testimonials-section {
    background-color: #fff;
    padding: 50px 0;
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.testimonial {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.testimonial img {
    width: 100px;
    height: auto;
    border-radius: 16%;
    margin-bottom: 15px;
}

.testimonial img:hover {
    transform: scale(1.1);
}

.testimonial p {
    font-size: 16px;
    margin-bottom: 10px;
}

.testimonial cite {
    font-style: italic;
    font-size: 14px;
    color: #777;
}

.product-card {
    height: 100%;
}


/* About Section */

.about-section {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #333;
}

.about-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#aboutus {
    text-align: center;
    font-size: 38px;
}


/* hero */


/* Custom CSS for carousel */

.carousel-item img {
    object-fit: cover;
    /* Ensure the image covers the entire carousel item */
    max-height: 60vh;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* Center the carousel caption vertically and horizontally */
    text-align: center;
    color: #fff;
    /* Text color */
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* Add a shadow to the text for better visibility */
}

.carousel-caption h1,
.carousel-caption p {
    margin: 0;
    /* Remove default margins */
}

.carousel-caption h1 {
    font-size: 48px;
}


/* Media Query for Mobile Devices */

@media (max-width: 767px) {
    .about-content p {
        font-size: 12px;
        margin-bottom: 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    #aboutus {
        font-size: 20px;
    }
    .carousel-caption h1 {
        font-size: 20px;
    }
    nav .container {
        padding: 0 15px;
        /* Reduce padding for smaller screens */
    }
    .logo {
        font-size: 24px;
        /* Reduce logo font size for smaller screens */
    }
    nav ul li {
        margin-right: 12px;
        /* Reduce margin between navigation items */
    }
    #footer .footer-container {
        padding-top: 30px;
        /* Reduce top padding for footer */
        padding-bottom: 5px;
        /* Reduce bottom padding for footer */
    }
    #footer h2 {
        font-size: 1.5rem;
        /* Reduce font size for footer heading */
    }
    #footer .social-item {
        height: 40px;
        /* Reduce size of social icons */
        width: 40px;
    }
    .address p,
    .copy-right {
        font-size: 0.9rem;
        /* Reduce font size for address and copyright */
    }
}


/* CSS */

.button-56 {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: 5px;
}

.button-56:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.button-56:hover:after {
    transform: translate(0, 0);
}

.button-56:active {
    background-color: #ffdeda;
    outline: 0;
}

.button-56:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-56 {
        padding: 0 40px;
    }
}